imagesCluster/ 
imagesGerard_handwritten/
imagesGerard_printed/
.venv/
__pycache__/
save_weights/
log/
loss_plots/
GANWriting/augmentorMarina.ipynb
GANWriting/wandb/
wandb/
GANWriting/weights/
final_classifier_testing
